{% extends "base.html" %}
{% load static %}

{% block page_header %}
 <div class="index-page">
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
            
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container container-text h-100">
        <div class="row h-100">
            <div class="col-12 col-md-7">
                <div class="my-4">
                    <div class="home-page-container col-sm-12 fade-in-text">
                    <h2>
                        We are the famous Glasgow Celtic
                    </h2>
                    <h2 class="movement-text fade-in-text">A club like no other</h2>
                </div>
                <div class="col-sm-6">
                    <h5>
                        <a href="{% url 'products' %}" class="shop-button btn btn-lg rounded-0 center-align fade-in-text">Shop now!</a>
                    </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

  

  
    
{% endblock %}
