@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

html{
height: 100%;
scroll-behavior: smooth;
}

body{
height: 100vh;
font-family: 'Noto Sans TC', sans-serif;
margin: 0;
padding: 0;
}

.index-page {
background: url('/media/celticparkhead.jpg') no-repeat center center fixed;
background-size: cover;
height: 100vh;
}

a#all-products-link.logo-font.nav-link.text-black.mr-5,
a#specials-link.logo-font.nav-link.text-black,
a#homeware-link.logo-font.nav-link.text-black,
a#clothing-link.logo-font.nav-link.text-black.mr-5{
font-size: 20px;
color: #ffffff;
}
  
div#topnav{
height: 100px;
background-color:#343A40
}

nav.navbar.navbar-expand-lg{
background-color:#343A40;
}

.bg{
display: block;
margin: auto;
background-color: #ffc107;
color: #000000;
font-size: 10px;
}

h4.free-delivery-logo.logo-font{
color: #000000;
text-align: center;
padding-top: 5px;

}

.home-page-container{
color: white;
margin-top: 60px;
text-align: center;
background-color: #000000;
padding: 5px;
margin-bottom: 5px;
text-align: center;
}

div.home-page-container.col-sm-6.fade-in-text{
border-radius: 5px;
text-align: center;
}

a.shop-button.btn.btn-lg.rounded-0.center-align{
background-color: white;
color: #000000
}

a.shop-button.btn.btn-lg.rounded-0.center-align:hover{
background-color: #000000;
color: #ffffff;
transform: scale(1.01);
}

#home-link
.my-account,
.my-account-icon,
.shopping-bag-icon,
.grand-total,
.mobile-shopping-bag,
.mobile-search,
.mobile-my-account,
.mobile-my-account-icon,
.mobile-search-icon,
.mobile-grand-total{
color: #ffffff;
font-size: 15px;
}

.logo-font{
text-align: left;
color: #ffffff;
font-size: 2em;
}

.logo-font:hover{
  text-align: left;
  color: #ffffff;
  font-size: 2em;
  transform: scale(1.02);
}

input.form-control.input-border{
border: 10px solid #ffffff;
height: 39px;
}

button.form-control.btn.btn-black.border.rounded-0{
background-color: #000000;
color: #ffffff;
border-radius: 10px;
height: 39px
}

button.form-control.btn.btn-black.border.rounded-0:hover{
color: #000000;
background-color: #ffc107
}

.container-text{
padding-top: 150px;
}

.fade-in-text{
    animation: fadeIn linear 5s;
    -webkit-animation: fadeIn linear 5s;
    -moz-animation: fadeIn linear 5s;
    -o-animation: fadeIn linear 5s;
    -ms-animation: fadeIn linear 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  
  div.col.bg h4 {
    animation: 2s slide-right 2s forwards;
    transform:translateX(-100%);
  }
  
  @keyframes slide-right {
    to {
      transform:translateX(0);
    }
  }

  .about-page-image{
    background: url('https://jerseys-for-tims.s3.eu-west-1.amazonaws.com/media/aboutpageimg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 1000px;
  }

  img.card-img-top{
  height: 300px;
  border-radius: 10px;
  border: 1px solid #343A40;
  cursor: pointer;
  }

  img.card-img-top:hover{
    transform: scale(1.02);
    border-radius: 10px;
    border: 1px solid #343A40;
    }

  img.card-img-top.img-fluid.product-detail-img{
  height: 380px;
  }

  .card{
  border: none;

}

.founder-text,
.founder-title,
.background-paragraph,
.background-title{
color: #343A40;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 20px;
  border: 1px solid #000000;
  background-color: #ffc107;
  color: white;
  cursor: pointer;
  padding: 18px;
  border-radius: 6px;
}

#myBtn:hover {
  background-color: #555;
}

div.dropdown-menu.border-0.show{
background-color: #343A40;
color: #ffffff;
}

a.dropdown-item{
color: #ffffff;
font-size: 15px;
}

button.navbar-toggler{
color: #ffffff;
}



.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

img.card-img-top.img-fluid.product-detail-img.mb-5{
height: 450px;
}


a.category-badge > span.badge{
  background-color: #ffffff !important;
  color: #343A40 !important;
  font-size: 17px;
}


a.category-badge > span.badge:hover{
background-color: #343A40 !important;
color: #ffffff !important;
}

#sort-selector{
border: 1px solid #343A40;
color: #343A40;
border-radius: 2px;
}

.bag-empty-text{
letter-spacing: 1px;
}

a.view-product-link{
border: 1px solid #343A40;
background-color:#343A40;
color: #ffc107;
text-align: center;
border-radius: 10px;
display: block;
margin: auto;
}

a.view-product-link:hover{
  border: 1px solid #343A40;
  background-color:#343A40;
  color: #ffc107;
  text-align: center;
  border-radius: 10px;
  display: block;
  margin: auto;
  transform:scale(1.02)
  }

.products-home-text{
color: #343A40;
font-size: large
}

a.btn.btn-outline-secondary.rounded-0.quick-view{
background-color: #343A40;
color: #ffc107;
border-radius: 0px;
}

a.btn.btn-outline-secondary.rounded-0.quick-view:hover{
  background-color: #ffc107;
  color: #343a40;
  border-radius: 0px;
  }

input.btn.btn-outline-secondary
{
background-color: #343A40;
color: #ffc107;
border-radius: 0px;
}

a.btn.btn-outline-secondary.rounded-0{
background-color: #ffc107;
color: #343A40;
}

a.btn.btn-outline-secondary.rounded-0:hover{
  color: #ffc107;
  background-color: #343A40;
  transform:scale(1.02);
  letter-spacing: 1px;
}

a.btn.btn-outline-secondary.mt-3.rounded-0.keep-shopping{
  background-color: #343A40;
  color: #ffc107;
  border-radius: 0px;
  transform: scale(1.02);
}

a.btn.btn-outline-secondary.mt-3.rounded-0.keep-shopping:hover{
  background-color: #ffc107;
  color: #343a40;
  border-radius: 0px;
}

input.btn.btn-outline-secondary:hover
{
color: #343A40;
background-color: #ffc107;
transform:scale(1.02);
letter-spacing: 1px;
}

.container-faq{
height: 800px;
}

.container-success{
height: 200px;
}

button.increment-qty.btn.btn-black.rounded-0{
border: 1px solid #000000;
background-color: #343A40;
color: #ffc107;
}

button.decrement-qty.btn.btn-black.rounded-0{
border: 1px solid #000000;
background-color: #343A40;
color: #ffc107;
}

button.decrement-qty.btn.btn-black.rounded-0:hover,
button.increment-qty.btn.btn-black.rounded-0:hover{
  border: 1px solid #000000;
  color: #343A40;
  background-color: #ffc107;
  }

a.update-link.text-info.update-qty-btn.text-white,
a.remove-item.text-danger.remove-qty-btn.text-white.float-right{
cursor: pointer;
font-size: 20px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; 
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

a.btn.btn-outline-secondary.mt-3.text-center{
display: block;
margin: auto;
text-align: center;
}

a.btn.btn-outline-secondary.rounded-0.toast-btn.mt-3.p-2.btn-block{
  border: 1px solid #000000;
  color: #343A40;
  background-color: #ffc107;
}

a.btn.btn-outline-secondary.rounded-0.toast-btn.mt-3.p-2.btn-block:hover{
  border: 1px solid #000000;
  transform: scale(1.02);
}

#sort-selector.custom-select.custom-select-sm.rounded-0.border-black{
height: 45px;
background-color:#6c757d;
color: #ffff;
}

.all-auth-img{
  background: url('/media/all-auth-bg-img.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
label.requiredField{
color: #ffffff;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content input::placeholder {
  color: grey;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
  font-weight: 400;
  color: #ffc107;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #343A40;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
color: #343A40;
  background-color: #ffffff;
 
  
}

.allauth-form-inner-content a {
color: #17a2b8; /* text-info */
}

a.btn.btn-outline-black.rounded-0.home{
background-color: white;
color: black;
}

a.btn.btn-outline-black.rounded-0.home:hover{
  color: white;
  background-color: black;
  }

  .allauth-form-inner-content p {
    color: white; /* text-info */
    }

.allauth-form-inner-content a{
    color: #ffc107;
    }

.allauth-form-inner-content h1{
      color: white;
      text-align: center;
      }

label.form-check-label{
color: #ffffff;
}

a.btn.btn-light.rounded-0.back-to-login{
background-color: #f8f9fa;
color: #343A40;
}

.add-product-heading{
text-align: center;
color: #343A40;
margin-bottom: 5px;
}

/* Product Form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

div.container-fluid.container-faq{
height: 1000px;
background: url('/media/celticparkhead.jpg') no-repeat center center fixed;
background-size: cover;
}



















