{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="about-page-image mb-5">
</div>

<section class="about-us">
    <div class="container mb-5">
        <div class="row">
            <div class="text-center">
                <h1 class="font-weight-bold">Our background</h1>
                <hr>
                <p>The story of Jerseys for Tims began in a 2 room apartment in Sheriff street, North Dublin

                    Jerseys for Tims was a way that we could get massive celtic fans to get hold of their favourite jerseys
                    worn by their past and current heroes of the club such as Henrick Larsson, Chris Sutton and the warrior Scott Brown.
                    
                    We have been recognised nationally and internationally.
                </p>
            
                <p>
                    Our values at Jerseys for Tims is to treat our customers as supporters just like we support our
                    beloved Celtic football club. In this way we feel we get the maximum satisfaction out of our
                    work and give our supporters the best quality retro and recent jerseys that they won't find anywhere else.

                    We strive to make the premium quality celtic jerseys for hoops fans to show of their colors.
                </p>
                <p>

                   our jerseys range from back in the 1980's all the way up to this present day.

                   We are a small company run by friends and family to give a family touch to all our produce.

                   We hope you enjoy our jerseys as we love making them for you.</p> 
                   <p>And as always...
                   Come on the hoops!</p>

                    

                   
            </div>
        </div>
    </div>
</section>



{% endblock %}








