{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="about-page-image mb-5">
</div>

<section class="about-us">
    <div class="container mb-5">
        <div class="row">
            <div class="text-center col">
                <h1 class="font-weight-bold mb-5 background-title">Our background</h1>
                
                <p class="background-paragraph">The story of Jerseys for Tims began in a 2 room apartment in Sheriff street, North Dublin

                    Jerseys for Tims was a way that we could get massive celtic fans to get hold of their favourite jerseys
                    worn by their past and current heroes of the club such as Henrick Larsson, Chris Sutton and the warrior Scott Brown.
                    
                    We have been recognised nationally and internationally.
                </p>
            
                <p class="background-paragraph">
                    Our values at Jerseys for Tims is to treat our customers as supporters just like we support our
                    beloved Celtic football club. In this way we feel we get the maximum satisfaction out of our
                    work and give our supporters the best quality retro and recent jerseys that they won't find anywhere else.

                    We strive to make the premium quality celtic jerseys for hoops fans to show of their colors.
                </p>
                <p class="background-paragraph">

                   our jerseys range from back in the 1980's all the way up to this present day.

                   We are a small company run by friends and family to give a family touch to all our produce.

                   We hope you enjoy our jerseys as we love making them for you.</p> 
                   <p>And as always...
                   Come on the hoops!</p>

            </div>
        </div>
        <div class="row">
            <div class="text-center col">
                <h1 class="font-weight-bold mb-5 founder-title">Meet the co-founders</h1>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                        <div class="card w-100">
                     <img src="https://i.guim.co.uk/img/media/33c508e9f0c30a90df363e3b5cc3925f0b70f5b6/0_0_3600_2159/master/3600.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=6c1e047f1edc4a54f1770458201ed69e" class="card-img-top" alt="a man working out">
                     <div class="card-body">
                       <h4 class="card-title founder-title">David</h4>
                       <p class="founder-text">David is the brains behind the operations he has an outstanding intelligence in consumer
                        demands. From a marketing and finance background he makes sure numbers are on point with operations</p>
                     </div>
                   </div>
                 </div>
             
               <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                      <div class="card w-100">
                   <img src="https://romantific.com/wp-content/uploads/2021/02/when-a-man-realizes-he-lost-you.jpg" class="card-img-top" style="300px" alt="a man working out">
                   <div class="card-body">
                     <h4 class="card-title title founder-title">Ross</h4>
                     <p class="founder-text">Ross is charged of production and operations and makes sure that logistics and supply are always
                         prospering. Ross has a degree in communications providing him with vital organizational, interpersonal
                         and analytical skills.
                     </p>
                    </div>
                 </div>
               </div>
             
               <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                      <div class="card w-100">
                   <img src="https://www.settogo.org/wp-content/uploads/2016/11/young-man-smiling-blue-shirt.jpg" class="card-img-top" alt="a man working out">
                   <div class="card-body">
                     <h4 class="card-title founder-title">Mark</h4>
                     <p class="founder-text">Mark is in charge of the day to day running of the company and ensures all workers are treated with the utmost respect and that workplace is a happy one.
                         Mark from an sports management background also deals with the advertisement and social media work for the company
                     </p>
                    </div>
                 </div>   
               

        </div>
        

    </div>
    </section>


    <button onclick="topFunction()" id="myBtn"><i class="fas fa-arrow-up"></i>

    </button>

    {% endblock %}
    {% block postloadjs %}
    {{ block.super }}
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
        </script>
    {% endblock %}








