{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/product.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid container-faq faq-image" style="background-color: #faebd7">
<h1 class="text-center pt-3 font-weight-bold"><b>Thank you for your inquiry</b></h1>
<p class="text-center">Your contact information and message was successfully submitted. We will get back to you within the next 24 hours!</p>
<div class="mt-5 mb-5 text-center">
    <a class="btn btn-outline-secondary rounded-0" href="{% url 'products' %}">keep shopping</a>
    
</div>
</div>






{% endblock %}
